body{
    background-color: #EA4C89;
}

h1,p{
   text-align: center;
}

.allBtns{
    display: flex;
    justify-content: center;
}

.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
    transition: background 0.2s;
}

td.alive {
    background-color: black;
}

